/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/onlineExam.iml

.idea/php.xml

.idea/vcs.xml

.idea/workspace.xml
